---
type: website
title: Михаил Юдин фронтенд веб-разработчик
layout: default
promo: true
image: assets/img/me.jpg
permalink: /
---

<section class="pr-intro">
  <aside class="page__aside">
    {% include sidebar.html %}
  </aside>
  <div class="content-block card post e2">
    {% capture promo_text %}{% include promo-text.md %}{% endcapture %}
    {{ promo_text | markdownify }}
  </div>
</section>

<section>
  <h2>Материалы на тему фронтенда</h2>
  <div class="post-list">
    {%- for post in site.categories["frontend"] limit: 10 %}
    {%- include post-item.html hide_meta=true %}
    {%- endfor %}
  </div>
</section>

<section>
  <h2>Проекты, которые можно пощупать онлайн</h2>
  <div class="post-list">
    {%- for doc in site.projects %}
    {%- assign post = doc %}
    {%- include post-item.html %}
    {%- endfor %}
  </div>
</section>