---
layout: page
title: Веб-разработчик Михаил Юдин &mdash; проекты
permalink: /projects/
description: Проекты, над которыми работаю или работал 
image: assets/img/projects.jpg
---

<h1>Проекты веб-разработчика Михаила Юдина</h1>

Список проектов, над которыми работал или работаю.
Некоторые проекты доступны онлайн.

{% assign projects_by_category = site.data.projects | group_by: 'category' %} 
{% for category in projects_by_category %}
<h2>{{ category.name }}</h2>
<div class="card e1">
{% for repo in category.items %}
<div class="tile">
  <div class="tile__image"><span class="iconify project-icon" data-icon="{{ repo.icon }}"></span></div>
<div class="tile__text">
<h3><a href="https://github.com/fagcinsk/{{ repo.repo }}">{{ repo.repo }}</a></h3>
{{ repo.name }}</div></div>
{% endfor %}
</div>
{%- endfor %}
