<span class="go-top">
<span class="iconify" data-icon="mdi-keyboard-arrow-up"></span>
</span>
<footer class="page__footer" itemscope itemtype="http://schema.org/WPFooter">
  <div class="copy">
    &copy;
    <span itemscope="" itemprop="copyrightHolder" itemtype="http://schema.org/Person">
      <span itemprop="name">{{ site.author.name }}</span>
    </span>
  </div>
  <div class="badges">
    <!--LiveInternet counter--><script type="text/javascript" async>
    document.write('<a href="//www.liveinternet.ru/click" '+
    'target="_blank"><img src="//counter.yadro.ru/hit?t14.9;r'+
    escape(document.referrer)+((typeof(screen)=='undefined')?'':
    ';s'+screen.width+'*'+screen.height+'*'+(screen.colorDepth?
    screen.colorDepth:screen.pixelDepth))+';u'+escape(document.URL)+
    ';h'+escape(document.title.substring(0,150))+';'+Math.random()+
    '" alt="" title="LiveInternet: показано число просмотров за 24'+
    ' часа, посетителей за 24 часа и за сегодня" '+
    'border="0" width="88" height="31"><\/a>')
    </script><!--/LiveInternet-->
  </div>
</footer>
