<span class="go-top e3"><span class="iconify" data-icon="mdi-keyboard-arrow-up"></span></span>
<footer class="page__footer" itemscope itemtype="http://schema.org/WPFooter">
  <div class="copy">
    &copy; <span itemscope="" itemprop="copyrightHolder" itemtype="http://schema.org/Person">
      <span itemprop="name">{{ site.author.name }}</span>
    </span>
  </div>
  <div class="contact-icons">
    <a title="Github" href="https://github.com/{{site.username.github}}"><span class="iconify soc-i" data-icon="mdi-github-circle" ></span></a>
    <a title="Telegram" href="https://t.me/{{site.username.telegram}}"><span class="iconify soc-i" data-icon="uil:telegram"></span></a>
    <a title="VKontakte" href="https://vk.com/{{site.username.vk}}"><span class="iconify soc-i" data-icon="mdi-vk-circle" ></span></a>
    <a title="Twitter" href="https://twitter.com/{{site.username.twitter}}"><span class="iconify soc-i" data-icon="mdi-twitter-circle"></span></a>
    <a title="E-mail" href="mailto:&#102;&#097;&#103;&#099;&#105;&#046;&#110;&#115;&#107;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;"><span class="iconify soc-i" data-icon="mdi-email"></span></a>
  </div>
  <div class="badges">
    <!--LiveInternet logo--><a href="//www.liveinternet.ru/click"
target="_blank" rel="noopener noreferrer"><img src="//counter.yadro.ru/logo?17.2"
title="LiveInternet: показано число просмотров за 24 часа, посетителей за 24 часа и за сегодня"
alt="LiveInternet counter" width="88" height="31"/></a><!--/LiveInternet-->
  </div>
</footer>
