<span id="goTop" class="e3" title="Наверх"><span class="iconify" data-icon="mdi-keyboard-arrow-up"></span></span>
<footer class="page__footer" itemscope itemtype="http://schema.org/WPFooter">
  <div class="copy">
    &copy; <span itemscope itemprop="copyrightHolder" itemtype="http://schema.org/Person">
      <span itemprop="name">{{ site.author.name }}</span>
    </span>
  </div>
  <div class="contacts">
    <a href="/contact" rel="contact nofollow">Контакты</a>
  </div>
  <div class="badges">
    <!--LiveInternet logo--><a href="//www.liveinternet.ru/click"
                               target="_blank" rel="noopener noreferrer"><img src="//counter.yadro.ru/logo?17.2"
                                                                              title="LiveInternet: показано число просмотров за 24 часа, посетителей за 24 часа и за сегодня"
                                                                              alt="LiveInternet counter" width="88"
                                                                              height="31"/></a><!--/LiveInternet-->
  </div>
</footer>