<header class="page__header e3" itemscope itemtype="https://schema.org/WPHeader">
    <a class="site-title" itemprop="name" title="На главную" href="/" rel="index">{{ site.title | escape }}</a>
    <meta itemprop="headline" content="{{ site.title }}">
    <meta itemprop="description" content="{{ site.description }}">
    <span id="menu_toggler">
      <span class="iconify" data-icon="mdi:menu"></span>
    </span>
    <nav class="main-menu">
      <ul class="main-menu__list menu-root" role="menu" itemscope itemtype="https://www.schema.org/SiteNavigationElement">
        {%- for nav_item in site.data.navigation -%}
          <li class="main-menu__item" role="menuitem">
          <a class="menu-link" itemprop="url" href="{{nav_item.link}}" title="{{nav_item.name}}" {% if nav_item.rel %}rel="{{nav_item.rel}}"{% endif %}>
            <span itemprop="name">{{nav_item.name}}</span>
          </a>
          {% if nav_item.link == '/blog/' %}
          <ul class="cat main-menu__list main-menu__list_sub e3" role="menu" itemscope itemtype="https://www.schema.org/SiteNavigationElement">
            {% assign cats = site.categories | sort  %}
            {%- for cat in cats -%}
            {%- capture url %}/{{ cat[0] | url_encode }}/{% endcapture -%}
            <li class="main-menu__item" role="menuitem">
              <a class="menu-link cat__link" itemprop="url" href="/blog{{ url }}">
                <span itemprop="name">{{ site.data.categories[cat[0]].name }}</span>
              </a>
            </li>
            {%- endfor -%}
            </ul>
            {% endif %}
        </li>
        {%- endfor -%}
      </ul>
    </nav>
    <script>
      var menuToggler = document.querySelector('#menu_toggler');
      var mainMenu = document.querySelector('.main-menu');
      var isMenuOpened = false;

      function toggleMenu(){
        isMenuOpened = !isMenuOpened;
        if(isMenuOpened) {
          mainMenu.classList.add('open')
        } else {
          mainMenu.classList.remove('open')
        }
      }

      function hideMenu(e){
        if(e.target != mainMenu) return;
        isMenuOpened = false;
        mainMenu.classList.remove('open')
      }

      menuToggler.addEventListener('click', toggleMenu);
      mainMenu.addEventListener('click', hideMenu);
      mainMenu.addEventListener('touchmove', hideMenu, {passive:true});
    </script>
</header>
<script>
  (function (a) { const b = a.links.length; for (let c = 0; c < b; c++)a.URL.startsWith(a.links[c].href) && a.links[c].classList.add("active") })(window.document);
</script>
<!-- YaMetrika -->
<noscript><div><img src="https://mc.yandex.ru/watch/54261154" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /YaMetrika -->
