<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% seo %}
  {% feed_meta %}
  
  <link rel="manifest" href="{{ '/assets/manifest.json' | relative_url }}">
  <link rel="shortcut icon" href="{{ '/assets/img/icons/favicon.ico' | relative_url }}">
  <meta name="apple-mobile-web-app-title" content="tin-y">
  <meta name="application-name" content="tin-y">
  <meta name="theme-color" content="#ffffff">

  {% if site.google_tag_manager %}
    {% include gtm.html %}
  {% endif %}

  <link rel="preload" href="{{ '/assets/css/main.css' | relative_url }}" as="style">
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
</head>