<header class="page__header e3" itemscope itemtype="https://schema.org/wpheader">
  <a class="site-title" itemprop="name" title="на главную" href="/" rel="index">{{ site.title | escape }}</a>
  <meta itemprop="headline" content="{{ site.title }}">
  <meta itemprop="description" content="{{ site.description }}">
  <span id="menu_toggler">
    <span class="iconify" data-icon="mdi:menu"></span>
  </span>
  <nav class="main-menu">
    <ul class="main-menu__list menu-root" role="menu" itemscope itemtype="https://www.schema.org/sitenavigationelement">
      {%- for nav_item in site.data.navigation -%}
      <li class="main-menu__item" role="menuitem">
        <a class="menu-link" itemprop="url" href="{{nav_item.link}}" title="{{nav_item.name}}" {% if nav_item.rel %}rel="{{nav_item.rel}}"{% endif %}>
          <span itemprop="name">{{nav_item.name}}</span>
        </a>
        {% if nav_item.link == '/blog/' %}
          <ul class="cat main-menu__list main-menu__list_sub e3" role="menu" itemscope itemtype="https://www.schema.org/sitenavigationelement">
            {% assign cats = site.categories | sort  %}
            {%- for cat in cats -%}
            {%- capture url %}/{{ cat[0] | url_encode }}/{% endcapture -%}
          <li class="main-menu__item" role="menuitem">
            <a class="menu-link cat__link" itemprop="url" href="/blog{{ url }}">
              <span itemprop="name">{{ site.data.categories[cat[0]].name }}</span>
            </a>
          </li>
          {%- endfor -%}
          </ul>
        {% endif %}
      </li>
      {%- endfor -%}
    </ul>
  </nav>
</header>

