{% assign mapindex = mapindex | plus: 1 %}
<div class="map" id="map{{ mapindex }}"></div>
<script>
  (function (window, L) {
    // create the map object and set the cooridnates of the initial view:
      var latLng = [{{include.lat | default: 0}}, {{include.lng | default: 0}}],
        osmUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
        mapboxUrl = 'https://{s}.tiles.mapbox.com/v3/jamesg87.goac2bf1/{z}/{x}/{y}.png',
        map = L.map('map{{ mapindex }}').setView(latLng, {{include.zoom | default: 10}});

    // create the tile layer with correct attribution:
    L.tileLayer(osmUrl, {
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
        maxZoom: 18
    }).addTo(map);

    var marker = L.marker(latLng).addTo(map)
  })(window, L)
</script>