<nav class="main-menu" itemscope itemtype="http://schema.org/SiteNavigationElement">
  <a href="/search/" rel="nofollow" class="main-menu__item search-icon" aria-label="Поиск" title="Поиск по материалам блога">
    <span class="iconify" data-icon="jam:search"></span>
  </a>
  {%- for nav_item in site.navigation -%}
    {%- assign class = nil -%}
    {%- if page.url == nav_item.link -%}
      {%- assign class = 'active' -%}
    {%- endif -%}
          <a class="main-menu__item {{class}}" itemprop="url" href="{{nav_item.link}}" title="{{nav_item.name}}">
            <span itemprop="name">{{nav_item.name}}</span>
          </a>
  {%- endfor -%}
</nav>