<article class="post-item" itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-item__header">
    <a class="post-item__link" href="{{ post.url }}" title="{{ post.title }}">
      <h2 class="post-item__title" itemprop="name headline mainEntityOfPage">
        {{ post.title }}
      </h2>
    </a>

  </header>
  <div class="content flex">
    {% if post.image %}
    <a class="post-item__link" href="{{ post.url }}" title="{{ post.title }}">
    <aside class="post-preview" style="background-image: url({{ post.image }})"></aside>
    </a>
    <meta itemprop="image" content="{{ post.image }}">
    {% endif %}
    <!--noindex-->
    <p class="post-item__summary flex-grow" itemprop="articleBody">
      {{ post.excerpt | strip_html | truncatewords:25 | strip }}
    </p>
    <!--/noindex-->
  </div>
</article>