{% assign category = include.post.categories | first %}
{% if category %}
{% assign related_posts = site.categories[category] | where_exp: "post","post.url != page.url" %}
{% if related_posts != empty %}
<section class="related-posts">
  <p>Ещё почитать:</p>
  <div class="post-list" itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">
    {%- include publisher.html -%}
    {% for post in related_posts | limit: 6 %}{% include post-item.html %}{% endfor %}
  </div>
</section>
{% endif %}
{% endif %}