<script src="//cdnjs.cloudflare.com/ajax/libs/lazysizes/5.1.1/lazysizes.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/lazysizes/5.1.1/plugins/unveilhooks/ls.unveilhooks.min.js"></script>

<script>
  let i
  const coll = document.getElementsByClassName('collapsible')

  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener('click', function () {
      this.classList.toggle('active')
      var content = this.nextElementSibling
      content.classList.toggle('expanded')
    })
  }
</script>

<script>
  (function (window) {
    const d = window.document,
      goTop = d.querySelector('.go-top')

    goTop.addEventListener('click', function () {
      window.scrollTo(0, 0)
    })

    goTop.title = 'Наверх'

    function onScroll (e) {
      if (window.scrollY > window.innerHeight) {
        goTop.classList.add('show')
      } else {
        goTop.classList.remove('show')
      }
    }

    window.addEventListener('scroll', onScroll, {
      capture: true,
      passive: true
    })
  })(window)
</script>

<script>
  (function(document) {
    if(!document.body.querySelector('.codehilite')) return;
    var link = document.createElement("link");
    link.rel = "stylesheet";
    link.href = "//cdn.jsdelivr.net/npm/pygments-css@1.0.0/monokai.css";

    document.getElementsByTagName("head")[0].appendChild(link);
  })(window.document)
</script>

<script src="//code.iconify.design/1/1.0.3/iconify.min.js" async></script>

