html {
  box-sizing: border-box;
}

body {
  -webkit-overflow-scrolling: touch;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-size: 1rem;
  overflow-y: scroll;
}

main {
  flex: 1;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img, embed, object, video {
  max-width: 100%;
  height: auto;
  width: auto;
  vertical-align: middle;
}

img::selection {
  background: transparent;
}

body > header a {
  color: #222;
  text-transform: uppercase;
}

.page__content a {
  color: #66d;
}

a {
  text-decoration: none;
  transition: color 150ms ease-in-out;

  &:hover, &:active, &.active {
    color: #66e
  }
}

hr {
  border: none;
  height: 1px;
  background-color: #ddd;
  margin: 16px 0;
}

