@import "palette";

html {
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-size: 1rem;
  overflow-y: scroll;
}

main {
  flex: 1;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img, embed, object, video {
  max-width: 100%;
  height: auto;
  width: auto;
  vertical-align: middle;
}

img::selection {
  background: transparent;
}

body > header a {
  color: $p-grey-dark;
  text-transform: uppercase;
}

.page__content a, .tags-cloud a {
  color: $p-primary;
}

a {
  text-decoration: none;
  transition: color 150ms ease-in-out;

  &:hover, &:active, &.active {
    color: $p-primary-light;
  }
}

hr {
  border: none;
  height: 1px;
  background-color: $p-grey-light;
  margin: 16px 0;
}

figcaption {
  text-align: center;
  font-size: .875rem;
  color: $p-primary-dark;
  padding: 4px 8px;
}

figure, .map {
  border-radius: 3px;
  overflow: hidden;
  border: 1px solid $p-grey-light;
}
