@import "palette";

$max-content-size: 48rem;
html {
  box-sizing: border-box;
}

body {
  display: grid;
  min-height: 100vh;
  overflow-y: scroll;
  grid-template-columns: 0 minmax(0, auto) 0;
  grid-auto-rows: auto 1fr;
  grid-gap: 16px;
}

.page__header, .page__footer {
  grid-column: 1/4;
}

aside, main {
  grid-column: 2/3;
}

@media (min-width: $max-content-size) {
  body {
    grid-gap: 64px;
    grid-template-columns: 1fr minmax(auto, $max-content-size) 1fr;
  }

  .with-sidebar {
    grid-template-columns: 1fr minmax(auto, $max-content-size) 16rem 1fr;

    aside {
      grid-column: 3/4;
    }

    .page__header, .page__footer {
      grid-column: 1/5;
    }
  }
}

img, embed, object, video {
  max-width: 100%;
  height: auto;
  width: auto;
  vertical-align: middle;
}

img::selection {
  background: transparent;
}

.text-center {
  text-align: center;
}

::selection {
  background-color: $p-secondary-dark;
  color: $p-white;
}

a {
  color: $p-secondary;
  text-decoration: none;
  transition: color 100ms ease-in-out;

  &:hover, &:active, &.active {
    text-decoration: underline;
  }
}

hr {
  border: none;
  height: 1px;
  background-color: $p-grey-light;
  margin: 16px 0;
}

figcaption {
  text-align: center;
  font-size: .875rem;
  color: $p-primary-dark;
  padding: 4px 8px;
}

figure, .map {
  border-radius: 3px;
  overflow: hidden;
  border: 1px solid $p-grey-light;
}

.go-top {
  position: fixed;
  bottom: 24px;
  right: 24px;
  font-size: 38px;
  background-color: $p-grey-light;
  border-radius: 50%;
  cursor: pointer;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;

  &:not(.show) {
    display: none;
  }

  &:hover {
    background-color: $p-secondary;
    color: $p-white;
  }
}

.contact-icons {
  font-size: 32px;
}

.pager {
  font-size: 1.25em;
  text-align: center;
}

.pager__disabled {
  background: $p-secondary;
  color: $p-white;
}

.pager__prev, .pager__next, .pager__disabled, .pager__page {
  display: inline-block;
  width: 42px;
  line-height: 42px;
  text-align: center;
  border-radius: 4px;
}

.card {
  margin: 32px;
  display: flex;
  flex-flow: column;
  min-width: 50%;
  max-width: 100%;
}

.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: -32px;
}

.tile {
  display: flex;
  margin-bottom: 16px;
}

.tile__image {
  margin-right: 16px;
  max-width: 120px;
  min-width: 120px;
  max-height: 120px;
  min-height: 120px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.tile__text {
  h1, h2, h3 {
    margin-top: 0;
  }
}

.lazyload,
.lazyloading {
  opacity: 0;
}

.lazyloaded {
  opacity: 1;
  transition: opacity 150ms;
}

.image-wrapper {
  position: relative;
  display: block;
}

.image-wrapper:before {
  content: '';
  display: block;
  height: 0;
  width: 100%;

  background-image: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9JzMwMHB4JyB3aWR0aD0nMzAwcHgnICBmaWxsPSIjMDAwMDAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMTAwIDEwMCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMTAwIDEwMDsiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwYXRoIGQ9Ik00MSw4SDh2MzNINVY4VjVoM2gzM1Y4eiBNOTIsNUg1OXYzaDMzdjMzaDNWOFY1SDkyeiBNOCw5MlY1OUg1djMzdjNoM2gzM3YtM0g4eiBNOTEsNTl2MzNINTh2M2gzM2gzdi0zVjU5SDkxeiBNNTksNDhoLTggIHYtOGgtMnY4aC04djJoOHY4aDJ2LThoOFY0OHoiPjwvcGF0aD48L3N2Zz4=");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 33%;
  background-color: rgba($p-secondary, 0.35);
  opacity: .35;
}

.img-dim-1-33:before {
  padding-bottom: 75.187%;
}

.img-dim-1:before {
  padding-bottom: 100%;
}

.img-dim-0-75:before {
  padding-bottom: 133.333%;
}

.image-wrapper > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}