@import "palette";

form {
  padding: 16px;
  background-color: $p-grey-light;
  border-radius: 3px;
  font-size: 1rem;
  max-width: 550px;
  margin: 0 auto;
}

.input {
  display: flex;
  flex-flow: column;
}

input,
textarea {
  font-size: 1.125rem;
  border: none;
  border-bottom: 1px solid $p-primary;
  background: none;
  padding: 8px 4px;
  margin: 4px 0;
}

input[type="submit"],
input[type="button"],
button {
  border: none;
  border-radius: 4px;
  padding: 12px 16px;
  text-transform: uppercase;
  background-color: $p-primary-dark;
  color: $p-white;
  margin-top: 8px;
  font-size: 1rem;
  cursor: pointer;

  &:hover {
    background-color: $p-primary;
  }
}