@import "palette";

.header-top {
  padding: 0 16px;
  min-height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-menu {
  line-height: 42px;
  text-transform: uppercase;
}

.main-menu__item {
  display: inline-block;
  margin: 0 8px;
  color: $p-grey-dark;
  &.active {
    color: $p-secondary;
    text-decoration: none;
  }
  &:hover {
    color: $p-secondary-light;
    text-decoration: none;
  }
}

.site-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0 8px;
}

@media (max-width: 768px) {
  .header-top {
    flex-flow: column;
  }
}