@import "palette";
@import "variables";

main {
  display: grid;
  grid-template-areas: "content aside";
  margin: 0 auto;
  padding: 32px;
}

.with-sidebar {
  grid-column-gap: 64px;
}

.page__aside {
  grid-area: aside;
  width: 240px;
  margin-bottom: 32px;

  h2 {
    margin-top: 0;
    padding: 4px 0;
    border-bottom: 1px solid $p-grey-light;
  }
}

.page__content {
  grid-area: content;
  max-width: 48rem;
}

.avatar {
  border-radius: 50%;
  overflow: hidden;
  width: 80px;
  height: 80px;
  margin: 16px auto;
  background-color: $p-grey;
  display: block;
}

.text-right {
  text-align: right;
}

.subscribe {
  margin: 32px 0;
}

.categories {
  list-style: none;
  margin: 0;
  padding: 0;
}

.categories__item {
  display: inline-block;
  > sup {
    position: relative;
    left: -0.85em;
    color: $p-grey;
  }
}

.categories__link {
  padding: 8px 16px;
  display: inline-block;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.flex {
  display: flex;
}

.flex-grow {
  flex: 1;
}

.map {
  width: 100%;
  height: 250px;
  margin: 16px 0;
}

img.me {
  float: right;
  width: 300px;
  margin: 0 0 16px 16px;
  border-radius: 3px;
}

.collapsible {
  cursor: pointer;

  & + div:not(.expanded) {
    display: none;
  }
}

.ad-content {
  margin: 32px 0;
}

@media (max-width: 768px) {
  main {
    display: flex;
    flex-flow: column;
    margin: 0;
    padding: 16px;
  }

  .author-block {
    display: flex;
  }

  .author-avatar {
    margin-right: 8px;
  }

  .avatar {
    margin-top: 0;
  }

  .page__aside {
    width: auto;
  }

  .categories__item {
    display: inline-block;
  }

  .promo {
    padding: 16px;
  }

  img.me {
    width: 100%;
  }
}
