@import 'variables';

@mixin font-condensed() {
  font-family: $font-family-sans-serif-condensed;
  font-stretch: condensed;
}

@mixin font-mono() {
  font-family: $font-family-mono;
}

@mixin font-sans-serif() {
  font-family: $font-family-sans-serif;
}


@mixin font-serif() {
  font-family: $font-family-serif;
}

