$p-grey-dark: #222;
$p-grey: #666;
$p-grey-light: #f0f0f0;
$p-white: #fff;


$primary-color-dark:   #F57C00;
$primary-color:        #FF9800;
$primary-color-light:  #FFE0B2;
$primary-color-text:   #212121;
$accent-color:         #607D8B;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;