$p-primary-dark: #4d2b90;
$p-primary: #7e57c2;
$p-primary-light: #B388FF;

$p-secondary-dark: #001970;
$p-secondary: #303f9f;
$p-secondary-light: #666ad1;

$p-grey-dark: #222;
$p-grey: #666;
$p-grey-light: #ddd;
$p-white: #fff;
