@import "palette";
@import "variables";

.post-item {
  margin-bottom: 32px;
}

.post-item__title {
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0.25em;
}

.post-item__summary {
  margin-bottom: 0.5rem;
}

.post {
  padding: 32px 0;
  margin-bottom: 32px;
  border-bottom: 1px solid $p-grey-light;
}

.post__header {
  margin-bottom: 16px;
}

.post__meta,
.post-item__meta {
  color: $p-grey;
  font-size: 0.75rem;
}

.post-preview {
  width: 150px;
  height: 115px;
  background-size: cover;
  background-position: center;
  margin-right: 16px;
  border-radius: 4px;
  overflow: hidden;
}

.category {
  color: $p-grey;
  font-style: normal;
}

.post__content {
  margin-bottom: 32px;
}


.related-posts {
  margin-top: 32px;
}

@media (max-width: 768px) {
  .post-preview {
    width: 70px;
    height: 70px;
    margin-right: 8px;
  }

  .post {
    padding: 16px;
    margin: -16px -16px 16px -16px;
  }

  .post-item {
    margin-bottom: 16px;
  }
}
