@import "palette";

.promo {
  padding: 96px 64px;
  text-align: center;
  background-color: rgba($p-grey-light, 0.4);
}

.promo__header {
  font-size: 2.25rem;
  margin-bottom: 1.25rem;
}

@media (max-width: 768px) {
  .promo {
    padding: 32px 16px;
  }
}