html {
  touch-action: manipulation;
}

body {
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  color: #222;
  background-color: #fefefe;
  display: flex;
  flex-flow: column;
  font: 1.25em/1.6 "Noto Sans", sans-serif;
}

body.theme-dark {
  color: #fefefe;
  background-color: #222;
}

a {
  color: #c44;
  text-decoration: none;
}

small {
  font-size: 0.75em;
  color: #666;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#menu,
#menu ul,
#history,
.sm {
  margin: 0;
  padding: 0;
}

#menu {
  position: fixed;
  top: 0;
  right: 0;
  list-style-type: none;
  opacity: 0.95;
}

.theme-dark #menu, .theme-dark #menu ul {
  background-color: #222;
}

.theme-default #menu, .theme-default #menu ul {
  background-color: #fefefe;
}

.m__item {
  height: 42px;
  width: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.m__item:hover,
.m__item.open,
#history, .history-wrapper {
  background-color: rgb(128, 128, 128);
}

#history {
  position: absolute;
  top: 100%;
  right: 0;
  width: calc(100vw - 84px);
  max-width: 250px;
  min-height: 42px;
  max-height: 176px;
  padding: 8px 0;
  overflow-y: auto;
}

.sm {
  position: absolute;
  right: 100%;
  top: 0;
  display: flex;
  visibility: hidden;
  max-width: calc(100vw - 42px);
}

.mv, .mh {
  display: flex;
}

.mv {
  flex-flow: column;
}

.m__item.open > #history, .m__item.open > .sm {
  visibility: visible;
}

.h__item {
  font-size: 1rem;
  padding: 12px 16px;
  list-style: none;
}

#notepad {
  flex-grow: 1;
  padding: calc(16px + 4vw) calc(16px + 4vw + (100% - 40em) / 2);
  border: none;
  resize: none;
  outline: none;
  overflow-y: auto;
}

@media (max-width: 768px) {
  #notepad {
    padding: calc(16px + 4vw);
  }
}
