.page__footer {
  background-color: var(--c-white);
  border-top: 1px solid var(--border-c);
  margin-top: 32px;
  padding: 16px;

  .contact-icons {
    font-size: 40px;
  }

  @media (max-width: 768px) {
    flex-flow: column;
    align-items: center;
  }
}
