.author-block {
  margin-top: -32px;
}

.author-block__avatar {
  margin: 0 auto 16px;
}

.avatar {
  border-radius: 50%;
  overflow: hidden;
  width: 80px;
  height: 80px;
  
  display: block;
  box-shadow: 0 2px 3px rgba(0,0,0,0.35);
}

.author-avatar__name {
  text-align: center;
}

@include device('mobile') {
  .author-block {
    display: flex;
    margin-top: 16px;
  }

  .author-avatar {
    margin-right: 8px;
  }

  .avatar {
    margin-top: 0;
  }
}
