.page__footer {
  margin-top: 32px;
  padding: 64px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .contact-icons {
    font-size: 40px;
  }

  @include device('mobile') {
    flex-flow: column;
    align-items: center;
  }
}
