form, .form {
  padding: 16px;
  border-radius: 4px;
  font-size: 1rem;
  background: #fff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.45);
}

.form-subscribe {
  max-width: 420px;
  margin: 0 auto;
}

.input {
  display: flex;
  flex-flow: column;
}

input,
textarea,
select {
  font-size: 1.25rem;
  border: none;
  background: none;
  padding: 8px 4px;
  margin: 4px 0;
  @include themify {
    border-bottom: 1px solid themed("control-border-c");
    &:focus {
      outline-color: themed("control-outline-f");
    }
  }
}

input[type="submit"],
input[type="button"],
button,
.button {
  border: none;
  border-radius: 4px;
  padding: 12px 16px;
  text-transform: uppercase;
  margin-top: 8px;
  font-size: 1rem;
  cursor: pointer;

  @include themify {
    color: themed("button-c");
    background-color: themed("button-bg");

    &:hover {
      background-color: themed("button-bg-a");
    }
  }
}

textarea {
  display: block;
  width: 100%;
}

.form__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}
