.header-top {
  white-space: nowrap;
  padding: 8px 16px;
  line-height: 42px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include themify {
    background-color: themed("header-bg");
  }
}

.main-menu {
  text-transform: uppercase;
  font-family: $font-family-sans-serif-condensed;
  font-stretch: condensed;
}

.main-menu__item[href] {
  display: inline-block;
  padding: 8px 24px;
  text-decoration: none !important;
  @include themify {
    color: themed("menu-c");
    &.active {
      color: themed("menu-c-a");
    }
    &:hover {
      color: themed("menu-c-h");
    }
  }
}

.site-title {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 8px 16px;
  line-height: normal;
}

@include device("mobile") {
  .header-top {
    padding: 0 8px;
  }
  .main-menu__item[href] {
    padding: 4px 8px;
  }

  .site-title {
    text-overflow: clip;
    overflow: hidden;
    font-size: 0;
  }

  .site-title:first-letter {
    font-size: 2rem;
  }
}
