.header-top {
  padding: 0 16px;
  line-height: 42px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include themify {
    background-color: themed('header-bg');
  }
}

.main-menu {
  text-transform: uppercase;
}

.main-menu__item[href] {
  display: inline-block;
  padding: 8px 24px;
  transition: background-color 50ms;
  text-decoration: none !important;
  @include themify {
    color: themed('menu-c');
    &.active {
      color: themed('menu-c-a');
    }
    &:hover {
      color: themed('menu-c-h');
      background-color: themed('menu-bg-h');
    }
  }
}

.site-title {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 8px 16px;
}

@include device('mobile') {
  .header-top {
    flex-flow: column;
  }
  .main-menu__item[href] {
    padding: 4px 8px;
  }
}