.post-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 32px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.pi-huge {
  margin-bottom: 32px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 16px;
}

.pi {
  margin: 0;
}

.pi__link {
  padding: 0;
  display: flex;
  flex-direction: column;

  @extend .card;

  &:hover, &:focus {
    text-decoration: none;
  }
}

.pi__link {
  height: 100%;
  position: relative;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.24);
}

.pi__link:before {
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 4px;
  z-index: -1;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.24);
  opacity: 0;
  transition: opacity 150ms;
}

.pi__link:hover:before {
  opacity: 1;
}

.pi__title, .pi__meta, .pi__desc {
  padding: 0 16px;
}

.pi__title {
  padding-top: 16px;
  border-top: 1px solid var(--border-c);

  h1, h2, h3, h4, h5 {
    margin-top: 0;
    font-size: 2.2rem;
    line-height: 1.2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.pi-huge__title {
  h1, h2, h3, h4, h5 {
    margin-top: 0;
  }
}

.pi__desc {
  font-size: 0.875em;
  flex: 1;
  color: var(--post-meta-c);
}

.pi__meta, .pi-huge__meta {
  font-size: 0.75em;
  padding-bottom: 16px;
  justify-self: flex-end;
  color: var(--post-meta-c);

  address {
    display: inline;
  }
}

.pi__img, .pi-huge__img {
  object-fit: cover;
  object-position: center;
}

.pi__img_wr, .pi-huge__img_wr {
  @extend .img-dim-1-33;
  @extend .img-wr;
  overflow: hidden;
  margin: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}