.post-item {
  margin-bottom: 16px;
}

.post-item__title {
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0.25em;
}

.post-item__meta {
  font-size: 0.85rem;
}

.post-item__content {
  display: flex;
}

.post-item__summary {
  margin-bottom: 0;
}

.post-item__preview_w {
  width: 120px;
  height: 120px;
  min-width: 120px;
  overflow: hidden;
  border-radius: 4px;
  margin-right: 16px;
  background-position: center;
  background-size: cover;
}

@include device('mobile') {
  .post-item__preview_w {
    width: 70px;
    height: 70px;
    min-width: 70px;
    margin-right: 8px;
  }
}
