.page__aside {
  padding: 0 16px;
  width: 250px;

  a:not(.avatar) {
    line-height: 1.25;
    display: inline-block;
    margin: 0.25rem;
  }
}

.sidebar__header {
  margin-top: 0;
  padding: 0 0 4px 0;
}

.sidebar-block {
  margin-bottom: 32px;
}

@media (max-width: 768px) {
  .page__aside {
    width: auto
  }
}