.cat {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.125em;
  text-align: center;
  grid-column: 1/6;
  grid-row:1;
  @include themify {
    background-color: themed("categories-bg");
  }
}

.cat__link {
  display: inline-block;
}

.cat__link[href] {
  padding: 12px 16px;
  border-bottom: 1px solid transparent;
  @include themify {
    color: themed("categories-c");
    background-color: themed("categories-bg");
    &.active {
      color: themed("link-c-a");
      text-decoration: none;
    }
    &:hover {
      color: themed("link-c-h");  
    }
  }
  &:hover {
    text-decoration: none;
    border-bottom-color: inherit;
    transition: 100ms ease-in-out;
  }
}
