.ya-site-form {
  td {
    border: none;
    padding: 0;
  }
  .ya-site-form__submit {
    background-color: transparent;
    border: 1px solid #000;
    padding: 8px 16px;
  }
  &#ya-site-form0 .ya-site-form__form .ya-site-form__input-text{
    background-color: transparent !important;
    border: none !important;
    border-bottom: 1px solid #000 !important;
  }
  .ya-site-form__search-input {
    padding: 0 !important;
    border: none;
  }
}

.ya-site-form__search-wrap {
  border: none !important;
}