---
layout: default
schema: Blog
pagination:
  enabled: true
description: "Список актуальных записей блога в текущей категории"
---
{% assign category = page.dir | split: "/" | last %}
<script>document.querySelector('meta[name="description"]').setAttribute('content', '{{ site.data.categories[category].description }}')</script>
<div class="mwm">
  <meta property="og:image" content="/assets/img/categories/{{ category }}.png">
  <h1>Записи блога в категории «{{ site.data.categories[category].name }}»</h1>
  <p>{{ site.data.categories[category].description }}</p>
  <div class="post-list">
    {% for post in paginator.posts %}{% include post-item.html heading_level=2 %}{% endfor %}
  </div>
</div>