{%- assign schema = page.schema | default: layout.schema | default: "WebPage" -%}
<!DOCTYPE html>
<html class="theme-default" lang="{{ page.lang | default: site.lang | default: 'en' }}"
      itemscope itemtype="https://schema.org/{{ schema }}">
<head>{% include head.html %}</head>
<body>
  {%- include header.html %}
  {%- if page.promo == true %}
  <section class="pr">
    <h1 class="pr__header">Блог фронтенд разработчика</h1>
    <p class="pr__subheader">Мысли на тему разработки сайтов, оптимизации веб-приложений.<br>Делюсь идеями и крутыми фичами.</p>
  </section>
  {%- endif %}
  <main aria-label="Content" class="page">
    {% if page.url == '/' %}
    <aside class="page__aside">
      {% include sidebar.html %}
    </aside>
    <div class="page__content mw">{{ content }}</div>
    {% else %}
    <div class="page__content">{{ content }}</div>
    {% endif %}

  </main>
  {%- if page.gallery == true %}{% include photoswipe.html %}{% endif %}
  {%- include footer.html %}
  {%- include scripts.html %}
  {%- include analytics.html %}
</body>
</html>