<!DOCTYPE html>
<html class="theme-default" lang="{{ page.lang | default: site.lang | default: 'en' }}" itemscope="" itemtype="http://schema.org/WebPage">
{%- assign mapindex = 0 -%}
<head>
{%- include head.html -%}
<link rel="stylesheet" href="/assets/css/page.css">
</head>
<body>
  {%- include header.html -%}
  {% include site-categories.html %}

  {% if page.promo == true %}
  <link rel="stylesheet" href="/assets/css/promo.css">
  <div class="promo">
    <h1 class="promo__header">Блог веб-разработчика</h1>
    <p class="promo__subheader">Мысли о веб-разработке, фронтенде, вёрстке, проекты и идеи на другие темы</p>
  </div>
  {% endif %}
  <main aria-label="Content" class="page">
    {% if page.url == '/' %}
    <aside class="page__aside">
      {% include sidebar.html %}
    </aside>
    {% endif %}
    <div class="page__content">{{ content }}</div>
  </main>
  {% if page.gallery == true %}{% include photoswipe.html %}{% endif %}
  {%- include footer.html -%}
  {%- include scripts.html -%}
  {%- include analytics.html -%}
</body>
</html>