<!DOCTYPE html>
<html class="theme-default" lang="{{ page.lang | default: site.lang | default: 'en' }}">
<head>{% include head.html %}</head>
<body>
  {%- include header.html %}
  {%- if page.promo == true %}
  <section class="pr">
    <h1>Блог фронтенд разработчика</h1>
    <p>Мысли на тему разработки сайтов, оптимизации веб-приложений.<br>Делюсь идеями и крутыми фичами.</p>
  </section>
  {%- endif %}
  <main class="page">
    <div class="page__content mw">{{ content }}</div>
  </main>
  {%- if page.gallery == true %}{% include photoswipe.html %}{% endif %}
  {%- include footer.html %}

  <script>window.window.lazySizesConfig={lazyClass:'lazy'}</script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/lazysizes/5.1.2/lazysizes.min.js" async defer></script>
  <script src="//code.iconify.design/1/1.0.3/iconify.min.js" async defer></script>
  <script src="/assets/js/main.js" async defer></script>
</body>
</html>