---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post__header">
    <div class="post__meta">
        {% include pubdate.html date=page.date %}
        {% include categories.html categories=page.categories %}
    </div>
    <h1 class="post__title" itemprop="headline">{{ page.title | escape }}</h1>
  </header>
  <div class="post__content" itemprop="articleBody">{{content}}</div>
</article>

<section class="related-posts">
  {% if site.related_posts %}
  <h2>Ещё почитать:</h2>
  {% for post in site.related_posts %}
  {% include post-item.html %}
  {% endfor %}
  {% endif %}
</section>