---
layout: default
comments: true
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post__header">
    <div class="post__meta">
      {% include post-meta.html post=page %}
    </div>
    <h1 class="post__title" itemprop="headline">{{ page.title | escape }}</h1>
  </header>
  <div class="post__content" itemprop="articleBody">{{content}}</div>

  <script src="//yastatic.net/share2/share.js" async="async"></script>
  <div class="ya-share2" data-services="telegram,vkontakte,facebook,twitter,evernote,pocket" data-counter></div>
</article>

{% if page.comments %}
{% include disqus.html %}
{% endif %}

{% if site.related_posts %}
<section class="related-posts">
  <b>Ещё почитать:</b>
  {% for post in site.related_posts %}{% include post-item.html %}{% endfor %}
</section>
{% endif %}