<!DOCTYPE html>
<html class="theme-default" lang="{{ page.lang | default: site.lang | default: 'ru' }}" itemscope="" itemtype="http://schema.org/WebPage">
{%- assign mapindex = 0 -%}
<head>
{%- include head.html -%}
<link rel="stylesheet" href="/assets/css/promo.css">
</head>
<body class="page with-sidebar">
{%- include header-promo.html -%}
<main aria-label="Content" itemscope itemprop="mainContentOfPage">
  {{ content }}
</main>
<aside class="page__aside">
  {% include sidebar.html %}
</aside>
{%- include footer.html -%}
{%- include scripts.html -%}
{%- include analytics.html -%}
</body>
</html>