<!DOCTYPE html>
<html class="theme-default" lang="{{ page.lang | default: site.lang | default: 'ru' }}" itemscope="" itemtype="http://schema.org/WebPage">
{%- assign mapindex = 0 -%}
<head>
{%- include head.html -%}
<link rel="stylesheet" href="/assets/css/promo.css">
</head>
<body class="page with-sidebar">
    {%- include header-promo.html -%}
  <aside class="grid-full content-block promo__text card e1">
    {% capture promo_text %}{% include promo-text.md %}{% endcapture %}
    {{ promo_text | markdownify }}
  </aside>
  <aside class="grid-full content-block card e1">
    <h2>Проекты, которые можно пощупать онлайн</h2>
    <ul>
      <li><a href="/projects/text-layout-change/" title="Смена раскладки онлайн с английского на русский и наоборот">Смена раскладки онлайн</a></li>
      <li><a href="/projects/block-destruction-game/" title="Игра про уничтожение блоков с использованием HTML5 canvas">Игра про уничтожение блоков</a></li>
    </ul>
  </aside>
<main aria-label="Content" itemscope itemprop="mainContentOfPage">
  {{ content }}
</main>
<aside class="page__aside">
  {% include sidebar.html %}
</aside>
{%- include footer.html -%}
{%- include scripts.html -%}
{%- include analytics.html -%}
</body>
</html>