<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'ru' }}" itemscope="" itemtype="http://schema.org/WebPage">

{%- include head.html -%}

<body class="page">

  {%- include header.html -%}

  <main aria-label="Content" itemscope itemprop="mainContentOfPage">
    {{ content }}
    <aside>
      {% include site-categories.html %}
    </aside>
    <div class="page__content">
      {% include post-list.html %}
      {% include pagination.html %}
    </div>
  </main>

  {%- include footer.html -%}
  {%- include scripts.html -%}
  {%- include analytics.html -%}
</body>

</html>