$max-content-size: 48rem;

.page {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  padding: 0 16px;
}

.page__content {
  flex-grow: 1;
  max-width: 48em;
  padding: 32px 0;
}

@media (max-width: $max-content-size) {
  .page {
    flex-flow: column;
  }
}