$max-content-size: 48rem;

html {
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  @include themify {
    color: themed("page-c");
    background-color: themed("page-bg");
  }
}

main {
  height: auto;
  flex-grow: 1;

  display: flex;
  min-height: 100vh;
  justify-content: center;
  z-index: 1;
  position: relative;
}

.page__content {
  flex-grow: 1;
}

.page__aside, .page__content {
  margin: 0 32px;
}

@media (max-width: $max-content-size) {
  main {
    flex-flow: column;
  }
  .page__aside, .page__content {
    margin: 0 16px;
  }
}