html{
  touch-action: manipulation;
}

.mw {
  max-width: 135rem;
}

.ma, .post {
  margin: 2vw auto;
}

.mwm {
  @extend .mw;
  @extend .ma;
}

img,
embed,
object,
video {
  max-width: 100%;
  height: auto;
}

img::selection {
  background: transparent;
}

::selection {
  background-color: var(--sel-bg);
  color: var(--sel-c);
}

:focus {
  outline-color: var(--sel-bg);
}

mark {
  background-color: var(--mark-bg);
  color: var(--mark-c);
}


.content-block {
  margin-bottom: 32px;

  > h2:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}

.breadcrumbs {
  font-size: 1.6rem;
  list-style: none;
  margin: 32px 0 0;
  padding: 0;
  color: var(--breadcrumbs-c);

  li {
    display: inline-block;
    margin: 0;
  }

  li:not(:last-child) {
    &:after {
      content: ' / ';
    }
  }
}

a {
  text-decoration: none;
  transition: color 100ms ease-in-out;

  &:hover {
    text-decoration: underline;
  }

  color: var(--link-c);

  &:active {
    color: var(--link-c-a);
  }
}

hr {
  border: none;
  height: 1px;
  margin: 16px 0;
  background-color: var(--border-c);
}


.map {
  border-radius: 3px;
  overflow: hidden;
}

#goTop, .theme-switch {
  position: fixed;
  bottom: 16px;
  border-radius: 50%;
  cursor: pointer;
  width: 42px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  font-size: 32px;
  z-index: 10;

  background-color: var(--go-top-bg);

  &:hover {
    color: var(--go-top-c-h);
    background-color: var(--go-top-bg-h);
  }
}

.theme-switch {
  left: 16px;
}

#goTop {
  right: 16px;

  &:not(.show) {
    display: none;
  }
}

.contact-icons {
  font-size: 32px;
}

.tile {
  display: flex;
  margin-bottom: 16px;
}

.tile__image {
  margin-right: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  padding: 16px;
  border-radius: 4px;
  background-color: var(--card-bg);
}

.e1 {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.35);
}

.e2 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.e3 {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12), 0 2px 5px rgba(0, 0, 0, 0.24);
}

.e4 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.db {
  display: block
}

.dib {
  display: inline-block
}

.tile__text {
  h1,
  h2,
  h3 {
    margin-top: 0;
  }
}

.img-wr {
  position: relative;
  display: block;
}

.img-wr:before {
  content: "";
  display: block;
  height: 0;
  width: 100%;
  background-size: 33%;
  background-color: rgba(0, 0, 0, 0.25);
}

.img-dim-1-33:before {
  padding-bottom: 75.187%;
}

.img-dim-1:before {
  padding-bottom: 100%;
}

.img-dim-0-75:before {
  padding-bottom: 133.333%;
}

.img-dim-1-33,
.img-dim-1,
.img-dim-0-75 {
  > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.lazy,
.lazyloading {
  opacity: 0;
}

.lazyloaded {
  opacity: 1;
  transition: opacity 90ms ease-in;
}

code {
  background-color: var(--code-bg);
  color: var(--code-c);
}

.codehilite > code {
  background-color: unset;
  color: unset;
}

.codehilite {
  border-left: 3px solid var(--code-border-c);
  background-color: var(--code-bg);
}

.pr {
  padding: calc(32px + 2%) 5%;
  text-align: center;
  position: relative;
  z-index: 0;

  &:before, &:after {
    content: '';
    position: absolute;
    top: -40px;
    box-shadow: 0 0 72px #fff;
    width: 40px;
    height: 40px;
  }

  &:before {
    left: 25%;
    transform: translateX(-50%);
  }

  &:after {
    right: 25%;
    transform: translateX(50%);
  }

  color: var(--promo-c);
  background-color: var(--promo-bg);
}

.post {
  max-width: 40em;
  box-sizing: content-box;
  padding: 2vmax !important;
}

.pr-intro {
  display: flex;
  flex-wrap: wrap;
}

.i-soc {
  color: var(--page-c);
}

.i-telegram:hover {
  color: #0088cc;
}

.i-vkontakte:hover {
  color: #2a5885;
}

.i-twitter:hover {
  color: #00aced;
}

.i-stackoverflow:hover {
  color: #f48024;
}

.i-github:hover {
  color: #800080;
}

.i-facebook:hover {
  color: #3b5998;
}

.i-linkedin:hover {
  color: #007bb6;
}

.i-instagram:hover {
  color: #fd1d1d;
}

.i-rss:hover {
  color: #f60;
}

.i-reddit:hover {
  color: #cee3f8;
}

.i-pinterest:hover {
  color: #c92228;
}

.i-youtube:hover {
  color: #e52d27;
}

.project-icon {
  font-size: 96px;
  width: 96px;
  margin: auto;
  display: block;
}

.ad-notify {
  font-size: 0.75em;
  color: grey;
  background-color: #eaeaea;
  border: 1px solid grey;
  border-radius: 3px;
  padding: 8px;
  display: block;
}

@media (max-width: 768px) {
  .promo {
    padding: 64px 16px;
  }

  .project-icon {
    font-size: 48px;
    width: 48px;
  }
}
