html {
  box-sizing: border-box;
}

body {
  @include themify {
    color: themed("page-c");
    background-color: themed("page-bg");
  }
}

img,
embed,
object,
video {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
  vertical-align: middle;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

img::selection {
  background: transparent;
}

::selection {
  @include themify {
    background-color: themed("sel-bg");
    color: themed("sel-c");
  }
}

mark {
  @include themify {
    background-color: themed("mark-bg");
    color: themed("mark-c");
  }
}

code {
  @include themify {
    background-color: themed("code-bg");
    color: themed("code-c");
  }
}

.content-block {
  margin-bottom: 32px;
  > *:first-child {
    margin-top: 0;
  }
  > *:last-child {
    margin-bottom: 0;
  }
}

a[href] {
  text-decoration: none;
  transition: color 100ms ease-in-out, background-color 100ms;

  &:hover,
  &:active,
  &.active {
    text-decoration: underline;
  }

  @include themify {
    color: themed("link-c");
    &:active {
      color: themed("link-c-a");
    }
  }
}

hr {
  border: none;
  height: 1px;
  margin: 16px 0;
  @include themify {
    background-color: themed("border-c");
  }
}

figcaption {
  text-align: center;
  font-size: 0.875rem;
  padding: 4px 8px;
}

.map {
  border-radius: 3px;
  overflow: hidden;
}

.go-top {
  position: fixed;
  bottom: 24px;
  right: 24px;
  font-size: 38px;
  border-radius: 50%;
  cursor: pointer;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;

  &:not(.show) {
    display: none;
  }

  @include themify {
    background-color: themed('go-top-bg');
    &:hover {
      color: themed('go-top-c-h');
      background-color: themed('go-top-bg-h');
    }
  }
}

.contact-icons {
  font-size: 32px;
}

.pager {
  font-size: 1.25em;
  text-align: center;
}

.pager__prev,
.pager__next,
.pager__disabled,
.pager__page {
  display: inline-block;
  width: 42px;
  line-height: 42px;
  text-align: center;
  border-radius: 4px;
}

.card-item {
  margin: 32px;
  display: flex;
  flex-flow: column;
  min-width: 50%;
  max-width: 100%;
}

.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: -32px;
}

.tile {
  display: flex;
  margin-bottom: 16px;
}

.tile__image {
  margin-right: 16px;
  max-width: 120px;
  min-width: 120px;
  max-height: 120px;
  min-height: 120px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  padding: 16px;
  border-radius: 4px;
  @include themify {
    background-color: themed('card-bg');
  }
}

.e1 {
  box-shadow: 0 0px 1px rgba(0,0,0,0.45);
}

.e2 {
  box-shadow: 0 1px 2px rgba(0,0,0,0.45);
}

.e3 {
  box-shadow: 0 2px 3px rgba(0,0,0,0.45);
}

.e4 {
  box-shadow: 0 3px 5px rgba(0,0,0,0.45);
}

.tile__text {
  h1,
  h2,
  h3 {
    margin-top: 0;
  }
}

.lazyload,
.lazyloading {
  opacity: 0;
}

.lazyloaded {
  opacity: 1;
  transition: opacity 150ms;
}

.image-wrapper {
  position: relative;
  display: block;
}

.image-wrapper:before {
  content: "";
  display: block;
  height: 0;
  width: 100%;

  background-image: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9JzMwMHB4JyB3aWR0aD0nMzAwcHgnICBmaWxsPSIjMDAwMDAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMTAwIDEwMCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMTAwIDEwMDsiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwYXRoIGQ9Ik00MSw4SDh2MzNINVY4VjVoM2gzM1Y4eiBNOTIsNUg1OXYzaDMzdjMzaDNWOFY1SDkyeiBNOCw5MlY1OUg1djMzdjNoM2gzM3YtM0g4eiBNOTEsNTl2MzNINTh2M2gzM2gzdi0zVjU5SDkxeiBNNTksNDhoLTggIHYtOGgtMnY4aC04djJoOHY4aDJ2LThoOFY0OHoiPjwvcGF0aD48L3N2Zz4=");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 33%;
  background-color: rgba(0, 0, 0, 0.35);
  opacity: 0.35;
}

.img-dim-1-33:before {
  padding-bottom: 75.187%;
}

.img-dim-1:before {
  padding-bottom: 100%;
}

.img-dim-0-75:before {
  padding-bottom: 133.333%;
}

.img-dim-1-33,
.img-dim-1,
.img-dim-0-75 {
  > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
  }
}

.codehilite {
  color: #aaa;
  background-color: #222;
}
