html {
  font-size: 62.5%;
}

body {
  font: #{1.8em}/#{1.6} $font-family-sans-serif;
}

code {
  font-family: $font-family-mono;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-sans-serif-condensed;
  font-stretch: condensed;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

dl dl,
dl ol,
dl ul,
ol dl,
ol ol,
ol ul,
ul dl,
ul ol,
ul ul {
  font-size: 90%;
  margin: 1.5em 0 1.5em 3.0em;
}

dd,
dt,
li {
  margin-bottom: 1em;
}

blockquote,
dl,
figure,
form,
ol,
p,
pre,
table,
ul {
  margin-bottom: 1em;
}

p {
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  letter-spacing: -.1rem;
  margin-top: 1em;
  margin-bottom: .5em;
}

h1 {
  &:first-of-type {
    margin-top: 0;
  }
}

blockquote {
  margin-left: 0;
  margin-right: 0;
  padding: 0.25em 1.25em;

  border-left: 2px solid var(--blockquote-border);
  background-color: var(--blockquote-bg);

  p {
    margin: 1rem 0;
  }

  cite {
    margin-top: 0.5em;
    display: block;
    text-align: right;
  }
}

code, pre {
  font-family: $font-family-mono;
}

code {
  border-radius: .4rem;
  font-size: 1.4rem;
  margin: 0 .2em;
  padding: .2em .5em;
  word-break: break-word;
}

pre {
  overflow-y: hidden;
}

pre > code {
  border-radius: 0;
  display: block;
  padding: 1em;
  white-space: pre;
}

table {
  width: 100%;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  border-collapse: collapse;

  thead {
    background-color: rgba(0, 0, 0, 0.05);
  }

  td,
  th {
    padding: 0.5em 16px;
    border-bottom: 1px solid var(--border-c);
  }
}

figure {
  margin: 0 0 1em;
}
