:root {
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-family-sans-serif-condensed: "DINNextW01-CondensedMed", "AvenirNextCondensed-Bold", "Futura-CondensedExtraBold", HelveticaNeue-CondensedBold, "Ubuntu Condensed", "Liberation Sans Narrow", "Franklin Gothic Demi Cond", "Arial Narrow", "Roboto Condensed", sans-serif-condensed, Arial, "Trebuchet MS", "Lucida Grande", Tahoma, sans-serif;
  --font-family-serif: Georgia, Times, Times New Roman, serif;
}

html {
  font-size: 62.5%;
}

body {
  font: 1.8rem/1.6 var(--font-family-sans-serif);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  font-family: var(--font-family-sans-serif-condensed);
  font-stretch: condensed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
  letter-spacing: -0.1rem;
  margin: 1em 0 0.5em 0;
}

h1 :first-of-type, p {
  margin-top: 0;
}

dd,
dt,
li,
blockquote,
dl,
figure,
form,
ol,
p,
pre,
table,
ul {
  margin-bottom: 1em;
}

blockquote {
  margin-left: 0;
  margin-right: 0;
  padding: 0.25em 1.25em;
  font-size: 1.6rem;
  line-height: 1.5;
}

blockquote p {
  margin: 1rem 0;
}

blockquote cite {
  margin-top: 0.5em;
  display: block;
  text-align: right;
}

code,
kbd,
samp,
pre {
  font: 1.6rem/1.5 var(--font-family-monospace);
}

code {
  border-radius: 0.4rem;
  font-size: 1.4rem;
  margin: 0 0.2em;
  padding: 0.2em 0.5em;
  word-break: break-word;
}

pre {
  overflow-y: hidden;
}

pre > code {
  border-radius: 0;
  display: block;
  padding: 1em;
  white-space: pre;
}

table {
  width: 100%;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  border-collapse: collapse;
}

thead {
  background-color: rgba(0, 0, 0, 0.05);
}

td,
th {
  padding: 0.5em 16px;
  border-bottom: 1px solid var(--border-c);
}

figure {
  margin: 0 0 1em;
}
