html {
  line-height: 1.5;
  font-size: 100%;
}

body {
  font-family: $font-family-sans-serif;
}

code {
  font-family: $font-family-mono;
}

article {
  max-width: 40em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-sans-serif-condensed;
  font-stretch: condensed;
  font-weight: normal;
}


h1, .h1 {
  font-size: 2.375em;
  line-height: 1.26315789em;
  margin-top: 0.63157895em;
  margin-bottom: 1.2631579em;
}

h2, .h2 {
  font-size: 1.75em;
  line-height: 1.71428571em;
  margin-top: 0.85714286em;
  margin-bottom: 0.85714286em;
}

h3, .h3 {
  font-size: 1.3125em;
  line-height: 1.14285714em;
  margin-top: 1.14285714em;
  margin-bottom: 0;
}

h4, .h4 {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 0;
}

h5, .h5 {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 0;
  opacity: 0.85;
}


h1 {
  margin-top: 0;
  margin-bottom: 0;
}

p, ol, ul, blockquote, pre, code, table {
  margin: 1.5em 0 0;
}

blockquote {
  margin-left: 0;
  margin-right: 0;
  padding: 0.25em 1.25em;

  @include themify {
    border-left: 2px solid themed('blockquote-border');
    background-color: themed('blockquote-bg');
  }

  p {
    margin: 1rem 0;
  }

  cite {
    margin-top: 0.5em;
    display: block;
    text-align: right;
  }
}

code, pre {
  font-family: $font-family-mono;
}

code {
  padding: 0.2em 0.4em;
  border-radius: 3px;
}

pre {
  padding: 0.8rem;
  overflow-x: auto;
  word-wrap: normal;
  border-radius: 0.3rem;

  > code {
    padding: 0;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0;
  }
}

table {
  width: 100%;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.05);

  thead {
    background-color: rgba(0, 0, 0, 0.15);
  }

  td,
  th {
    padding: 0.5em 16px;
    @include themify {
      border-bottom: 1px solid themed('border-c');
    }
  }
}